<div class="foodFeedbackWrapper" ng-controller="foodFeedbackController">
    <span class="filter" ng-click="feedbacksliderUp()">
        <h1 ng-if="feedbackSlider.current == 0">{{ 'RECENT' | translate }}</h1>
        <h1 ng-if="feedbackSlider.current == 1">{{ 'RATING' | translate }}</h1>
        <img src="assets/icons/up_down.png">
    </span>
    <div class="bubbles">
        <div class="bubble" ng-class="{showDate: bubble.showDate}" mn-touch hold="bubble.showDate = !bubble.showDate" ng-repeat="bubble in bubbles">
            <div class="restaurant">{{bubble.restaurant}}</div>
            <div class="text">{{bubble.text}}</div>
        </div>
    </div>
</div>