<div class="interestsWrapper">
    <div class="container">
        <h1>Interessen</h1>
        <p>Wofür interessierst du Dich? Was isst du gerne und worüber möchtest Du benachrichtigt werden?</p>
        <h2>Tippen für Auswahl:</h2>
        <div class="interests">
            <div class="interest" ng-class="[{active: interest.active}, interest.type]" ng-repeat="interest in interests" ng-click="interest.active = !interest.active">
                <span>{{interest.name}}</span>
            </div>
        </div>
        <div ng-click="save()"><i class="material-icons doneicon">done</i></div>
    </div>
</div>