@charset "UTF-8";
@font-face {
  font-family: 'Gotham Book';
  src: url("../../assets/fonts/Gotham-Book.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Medium';
  src: url("../../assets/fonts/Gotham-Medium.woff") format("woff"); }

html {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

body {
  margin: 0; }

.container {
  padding-top: 20px; }

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide.ng-enter,
.slide.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .slide.ng-enter.up, .slide.ng-enter.right, .slide.ng-enter.down, .slide.ng-enter.left,
  .slide.ng-leave.up,
  .slide.ng-leave.right,
  .slide.ng-leave.down,
  .slide.ng-leave.left {
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }

.slide.ng-enter.up {
  top: 100%; }

.slide.ng-enter.right {
  right: 100%; }

.slide.ng-enter.down {
  bottom: 100%; }

.slide.ng-enter.left {
  left: 100%; }

.slide.ng-enter-active.up, .slide.ng-leave.up {
  top: 0; }

.slide.ng-enter-active.right, .slide.ng-leave.right {
  right: 0; }

.slide.ng-enter-active.down, .slide.ng-leave.down {
  bottom: 0; }

.slide.ng-enter-active.left, .slide.ng-leave.left {
  left: 0; }

.slide.ng-leave-active.up {
  top: -100%; }

.slide.ng-leave-active.right {
  right: -100%; }

.slide.ng-leave-active.down {
  bottom: -100%; }

.slide.ng-leave-active.left {
  left: -100%; }

.platform-android.has-translucent-status-bar .app-header-bar {
  padding-top: 25px; }

.splashWrapper {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/imgs/splash_background.png);
  background-size: cover;
  background-position: center; }

.welcomeWrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/home-background.png");
  background-size: cover;
  text-align: center; }
  .welcomeWrapper h1 {
    font-size: 70px;
    color: #fff;
    padding-top: 30px; }
  .welcomeWrapper h3 {
    color: #fff;
    padding-top: 20px; }
    .welcomeWrapper h3.start {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-top: 60px;
      padding-bottom: 20px; }
  .welcomeWrapper .changeLanguage {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff; }
    .welcomeWrapper .changeLanguage i, .welcomeWrapper .changeLanguage span {
      vertical-align: middle; }
    .welcomeWrapper .changeLanguage span {
      margin-left: 10px; }

* {
  font-family: "Gotham Book";
  font-weight: normal; }

.view {
  width: 100%;
  height: 100%;
  position: absolute; }

h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px; }

h2 {
  font-family: "Gotham Medium";
  font-size: 18px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px; }

h3 {
  font-size: 18px;
  margin: 0; }

input {
  padding: 8px 10px;
  border: none;
  outline: none; }

.material-icons.doneicon, .material-icons.cancelicon {
  position: fixed;
  font-size: 30px;
  background-color: #27ae60;
  color: #fff;
  bottom: 35px;
  right: 35px;
  padding: 15px;
  border-radius: 50%; }

.material-icons.cancelicon {
  background-color: #e74c3c;
  right: 110px; }

.checkbox {
  display: inline-block; }
  .checkbox input {
    display: none; }
  .checkbox span {
    padding-left: 25px; }
  .checkbox div:before {
    visibility: visible;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgba(128, 128, 128, 0.3); }
  .checkbox input:checked + div:before {
    background-image: url("../../assets/icons/done.png");
    background-size: cover; }

/* The switch - the box around the slider */
.switchLabel {
  display: inline-block;
  vertical-align: middle; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  vertical-align: middle;
  /* The slider */
  /* Rounded sliders */ }
  .switch input {
    display: none; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    vertical-align: middle; }
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s; }
  .switch.transparent .slider {
    background-color: rgba(0, 0, 0, 0.3); }
  .switch.transparent input:checked + .slider {
    background-color: rgba(0, 0, 0, 0.5); }
  .switch.transparent input:focus + .slider {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  .switch input:checked + .slider {
    background-color: #ee8360; }
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #ee8360; }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .switch .slider.round {
    border-radius: 34px;
    height: 28px;
    width: 55px; }
  .switch .slider.round:before {
    border-radius: 50%; }

.swiper-container-horizontal {
  height: 100%;
  background-image: url("../../assets/imgs/start_background.jpg");
  background-size: cover;
  overflow: hidden; }
  .swiper-container-horizontal .background {
    position: absolute;
    width: 100%; }
  .swiper-container-horizontal .page {
    height: 100%; }

.swiper-container-vertical {
  height: 100%; }
  .swiper-container-vertical .page {
    height: 100%; }

.arrowTop, .arrowRight, .arrowBottom, .arrowLeft {
  font-size: 14px; }

.arrowTop {
  width: 100%;
  text-align: center; }
  .arrowTop i {
    font-size: 20px;
    color: #fff; }
  .arrowTop .description {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff; }

.arrowRight {
  position: absolute;
  top: 45%;
  right: 0; }
  .arrowRight i {
    font-size: 20px;
    color: #fff;
    vertical-align: middle; }
  .arrowRight .description {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff; }

.arrowBottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center; }
  .arrowBottom i {
    font-size: 20px;
    color: #fff; }
  .arrowBottom .description {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff; }

.arrowLeft {
  position: absolute;
  top: 45%; }
  .arrowLeft i {
    font-size: 20px;
    color: #fff;
    vertical-align: middle; }
  .arrowLeft .description {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff; }

.description {
  border-radius: 20px; }
  .description.purple {
    background-color: rgba(77, 48, 145, 0.61); }
  .description.grey {
    background-color: rgba(101, 94, 94, 0.7); }
  .description.red {
    background-color: rgba(221, 45, 57, 0.59); }
  .description.white {
    background-color: rgba(255, 255, 255, 0.3); }

@keyframes fadeOut {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

.taxiWrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/imgs/taxi_background.png");
  background-size: cover;
  background-position: center;
  font-size: 0;
  padding-top: 30px; }
  .taxiWrapper h1 {
    font-size: 45px;
    color: #fff;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center; }
  .taxiWrapper .taxis {
    position: absolute;
    width: 90%;
    left: 5%;
    margin-top: 20px;
    text-align: center; }
    .taxiWrapper .taxis .taxi {
      display: inline-block;
      font-size: 16px;
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      padding: 10px 20px;
      margin-top: 20px;
      margin-right: 10px;
      border: 2px solid #fff;
      border-radius: 20px;
      text-decoration: none;
      transition: transform .2s ease; }
      .taxiWrapper .taxis .taxi .phone {
        display: none;
        transform: rotateX(180deg); }
        .taxiWrapper .taxis .taxi .phone i {
          font-size: 18px;
          vertical-align: middle; }
        .taxiWrapper .taxis .taxi .phone span {
          vertical-align: middle; }
      .taxiWrapper .taxis .taxi.showPhone {
        transition: transform .4s ease;
        transform: rotateX(180deg); }
        .taxiWrapper .taxis .taxi.showPhone .name {
          display: none; }
        .taxiWrapper .taxis .taxi.showPhone .phone {
          display: inline-block; }
      .taxiWrapper .taxis .taxi:active {
        background: rgba(0, 0, 0, 0.3); }

.interestsWrapper {
  padding: 20px; }
  .interestsWrapper .interests .interest {
    display: inline-block;
    background-color: #34495e;
    padding: 0 25px;
    border-radius: 50px;
    margin-right: 8px;
    margin-top: 8px;
    opacity: .5; }
    .interestsWrapper .interests .interest span {
      display: inline-block;
      font-size: 13px;
      color: #fff;
      padding: 12px 0px; }
    .interestsWrapper .interests .interest.active {
      opacity: 1;
      background-image: url("../../assets/icons/done_circle_transparent.png");
      background-size: 18px;
      background-position: right 10px center;
      background-repeat: no-repeat;
      padding: 0 32px 0 25px; }
    .interestsWrapper .interests .interest.food {
      background-color: #EE8360; }

.newsletterWrapper {
  padding: 20px; }
  .newsletterWrapper input {
    background: #F2F2F2;
    width: calc(100% - 20px); }

.swiper-container-food-vertical {
  background-image: url("../../assets/imgs/food_background.png");
  background-size: cover;
  background-position: top; }

.foodWrapper {
  width: 100%;
  height: 100vh;
  text-align: center; }
  .foodWrapper h1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 60px; }

.foodStartWrapper {
  width: 100%;
  height: 100vh; }
  .foodStartWrapper h1 {
    font-family: 'Gotham Book';
    font-size: 45px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30%; }

.foodFeedbackWrapper {
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/food_blur_background.png");
  background-size: cover;
  padding-top: 40px; }
  .foodFeedbackWrapper .filter {
    margin-left: 30px; }
    .foodFeedbackWrapper .filter h1 {
      display: inline;
      font-size: 35px;
      color: #fff;
      text-transform: none;
      vertical-align: middle; }
    .foodFeedbackWrapper .filter img {
      display: inline;
      width: 30px;
      margin-left: 5px;
      vertical-align: middle; }
  .foodFeedbackWrapper .bubbles {
    height: calc(100vh - 50px - 40px);
    margin-top: 10px;
    padding: 0 20px;
    overflow: scroll; }
    .foodFeedbackWrapper .bubbles .bubble {
      position: relative;
      background-color: rgba(255, 255, 255, 0.5);
      width: calc(80% - 20px);
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 10%;
      padding: 10px;
      border-radius: 10px;
      transform: translateX(-30px) rotate(5deg);
      animation: bubble-left 1s ease forwards; }
      .foodFeedbackWrapper .bubbles .bubble:nth-of-type(2n+2) {
        animation-name: bubble-right;
        transform: translateX(30px) rotate(-5deg); }
      .foodFeedbackWrapper .bubbles .bubble:nth-of-type(2) {
        animation-delay: .05s; }
      .foodFeedbackWrapper .bubbles .bubble:nth-of-type(3) {
        animation-delay: .1s; }
      .foodFeedbackWrapper .bubbles .bubble:nth-of-type(4) {
        animation-delay: .15s; }

@keyframes bubble-left {
  0% {
    transform: translateX(-30px) rotate(5deg); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: translateX(0) rotate(0); } }

@keyframes bubble-right {
  0% {
    transform: translateX(30px) rotate(-5deg); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: translateX(0) rotate(0); } }
      .foodFeedbackWrapper .bubbles .bubble .text, .foodFeedbackWrapper .bubbles .bubble .rating {
        display: inline-block;
        vertical-align: middle; }
      .foodFeedbackWrapper .bubbles .bubble .text {
        width: 90%; }
      .foodFeedbackWrapper .bubbles .bubble .rating {
        font-size: 40px;
        color: #c86a55;
        width: calc(10% - 10px);
        text-align: right; }
        .foodFeedbackWrapper .bubbles .bubble .rating.four {
          color: #ee8360; }
        .foodFeedbackWrapper .bubbles .bubble .rating.three {
          color: #ff9064; }
        .foodFeedbackWrapper .bubbles .bubble .rating.two {
          color: #ffaa5a; }
        .foodFeedbackWrapper .bubbles .bubble .rating.one {
          color: #ffb74a; }
      .foodFeedbackWrapper .bubbles .bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent rgba(255, 255, 255, 0.5);
        display: block;
        width: 0;
        z-index: 1;
        left: -15px;
        top: 10px; }
      .foodFeedbackWrapper .bubbles .bubble:nth-of-type(2n+2):after {
        border-width: 15px 0 15px 15px;
        left: auto;
        right: -15px; }
      .foodFeedbackWrapper .bubbles .bubble.showDate {
        animation: pinch .3s ease forwards; }

@keyframes pinch {
  0%, 100% {
    transform: scale(1); }
  40% {
    transform: scale(1.05); } }
        .foodFeedbackWrapper .bubbles .bubble.showDate .restaurant {
          opacity: 1; }

.foodRestaurantsWrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/food_blur_background.png");
  background-size: cover;
  font-size: 0; }
  .foodRestaurantsWrapper .restaurants {
    position: relative;
    height: 100%; }
    .foodRestaurantsWrapper .restaurants.left, .foodRestaurantsWrapper .restaurants.right {
      display: inline-block;
      width: 50%; }
    .foodRestaurantsWrapper .restaurants .link {
      display: block;
      background-color: #fff;
      width: 85%;
      float: left;
      margin-top: 30px;
      margin-left: calc(20% / 3);
      text-decoration: none;
      border-radius: 8px; }
      .foodRestaurantsWrapper .restaurants .link .title {
        width: 100%;
        height: 110px;
        background-size: cover;
        margin: 0;
        position: relative;
        border-radius: 8px; }
        .foodRestaurantsWrapper .restaurants .link .title.noRadius {
          border-radius: 8px 8px 0 0; }
        .foodRestaurantsWrapper .restaurants .link .title h1 {
          font-size: 20px;
          text-transform: none;
          margin: 0;
          color: #fff;
          position: absolute;
          left: 10px;
          bottom: 10px;
          font-family: "Gotham Book"; }
      .foodRestaurantsWrapper .restaurants .link .meal {
        width: 100%; }
        .foodRestaurantsWrapper .restaurants .link .meal p {
          font-size: 12px;
          vertical-align: middle;
          color: #999;
          font-family: "Gotham Book";
          margin: 0;
          padding: 15px 10px; }

.restaurantDetailWrapper .slider img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease; }
  .restaurantDetailWrapper .slider img.visible {
    opacity: 1; }

.restaurantDetailWrapper .slider .restaurantname h1 {
  position: absolute;
  height: 160px;
  width: 100%;
  text-align: center;
  line-height: 160px;
  position: absolute;
  color: #fff;
  font-family: "Gotham Book";
  text-transform: none;
  z-index: 2;
  font-size: 30px; }

.restaurantDetailWrapper .content {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: calc(100% - 200px);
  top: 200px; }
  .restaurantDetailWrapper .content .tabs {
    font-size: 0;
    box-shadow: 0px -10px 25px 0px rgba(0, 0, 0, 0.4); }
    .restaurantDetailWrapper .content .tabs .tab, .restaurantDetailWrapper .content .tabs div {
      display: inline-block;
      color: #000;
      width: 20%;
      text-align: center; }
      .restaurantDetailWrapper .content .tabs .tab i, .restaurantDetailWrapper .content .tabs div i {
        font-size: 30px;
        padding: 15px 0; }
      .restaurantDetailWrapper .content .tabs .tab.active, .restaurantDetailWrapper .content .tabs div.active {
        border-bottom: 2px solid #ee8360; }
  .restaurantDetailWrapper .content .swiper-container-tabs {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 62px);
    background: #fff; }
  .restaurantDetailWrapper .content .left, .restaurantDetailWrapper .content .right {
    display: inline-block;
    width: calc(50% - 40px);
    vertical-align: top;
    padding: 5px; }
    .restaurantDetailWrapper .content .left span, .restaurantDetailWrapper .content .left a, .restaurantDetailWrapper .content .left i, .restaurantDetailWrapper .content .right span, .restaurantDetailWrapper .content .right a, .restaurantDetailWrapper .content .right i {
      vertical-align: middle; }
    .restaurantDetailWrapper .content .left.border, .restaurantDetailWrapper .content .right.border {
      border-left: 1px solid #ee8360;
      padding-left: 20px; }
  .restaurantDetailWrapper .content .general .icons i, .restaurantDetailWrapper .content .general .icons img {
    margin-bottom: 10px;
    vertical-align: middle;
    transition: transform .3s ease; }
    .restaurantDetailWrapper .content .general .icons i:active, .restaurantDetailWrapper .content .general .icons img:active {
      transform: scale(0.7); }
  .restaurantDetailWrapper .content .general .icons i {
    font-size: 25px; }
  .restaurantDetailWrapper .content .general .icons img {
    width: 25px; }
  .restaurantDetailWrapper .content .general a {
    color: #000;
    text-decoration: none; }
  .restaurantDetailWrapper .content .general .openingTimes.opened {
    color: #27ae60; }
  .restaurantDetailWrapper .content .general .openingTimes.closed {
    color: #c0392b; }
  .restaurantDetailWrapper .content .general .openingTimes.openingSoon, .restaurantDetailWrapper .content .general .openingTimes.closingSoon {
    color: #f39c12; }
  .restaurantDetailWrapper .content .general .openingTimes .times {
    position: absolute;
    margin-left: 34px;
    line-height: 25px; }
  .restaurantDetailWrapper .content .location .Adresse h1 {
    font-family: "gotham Medium";
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 50px; }
  .restaurantDetailWrapper .content .location .Straße h1 {
    font-family: "Gotham Book";
    text-align: center;
    font-size: 10px;
    margin: 0;
    padding: 0;
    margin-top: 15px; }
  .restaurantDetailWrapper .content .location .maps {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    height: 60px;
    line-height: 60px;
    width: 100%;
    bottom: 0;
    text-align: center;
    text-transform: uppercase; }
    .restaurantDetailWrapper .content .location .maps a {
      color: #000;
      text-decoration: none; }
  .restaurantDetailWrapper .content .left {
    display: inline-block;
    width: calc(40% - 20px);
    padding: 5px 0;
    vertical-align: top; }
  .restaurantDetailWrapper .content .right {
    display: inline-block;
    width: calc(60% - 20px);
    padding: 5px 0;
    vertical-align: top; }
    .restaurantDetailWrapper .content .right.border {
      border-left: 2px solid #ee8360;
      padding-left: 10px; }
  .restaurantDetailWrapper .content .general {
    padding: 10px 20px; }
    .restaurantDetailWrapper .content .general i {
      margin-right: 10px;
      vertical-align: middle; }
  .restaurantDetailWrapper .content .feedback {
    text-align: center; }
    .restaurantDetailWrapper .content .feedback .bubbles {
      height: calc(100vh - 200px - 62px - 60px);
      overflow: auto; }
      .restaurantDetailWrapper .content .feedback .bubbles .bubble {
        position: relative;
        background-color: rgba(192, 192, 192, 0.2);
        width: calc(80% - 20px);
        margin-bottom: 20px;
        margin-left: 10%;
        padding: 20px 10px;
        border-radius: 10px;
        text-align: left; }
        .restaurantDetailWrapper .content .feedback .bubbles .bubble:first-of-type {
          margin-top: 20px; }
        .restaurantDetailWrapper .content .feedback .bubbles .bubble .text, .restaurantDetailWrapper .content .feedback .bubbles .bubble .rating {
          display: inline-block;
          vertical-align: middle; }
        .restaurantDetailWrapper .content .feedback .bubbles .bubble .text {
          width: 80%; }
        .restaurantDetailWrapper .content .feedback .bubbles .bubble .rating {
          font-size: 40px;
          color: #c86a55;
          width: calc(20% - 10px);
          text-align: right; }
          .restaurantDetailWrapper .content .feedback .bubbles .bubble .rating.four {
            color: #ee8360; }
          .restaurantDetailWrapper .content .feedback .bubbles .bubble .rating.three {
            color: #ff9064; }
          .restaurantDetailWrapper .content .feedback .bubbles .bubble .rating.two {
            color: #ffaa5a; }
          .restaurantDetailWrapper .content .feedback .bubbles .bubble .rating.one {
            color: #ffb74a; }
        .restaurantDetailWrapper .content .feedback .bubbles .bubble:after {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 15px 15px 15px 0;
          border-color: transparent rgba(192, 192, 192, 0.2);
          display: block;
          width: 0;
          z-index: 1;
          left: -15px;
          top: 45px; }
        .restaurantDetailWrapper .content .feedback .bubbles .bubble:nth-of-type(2n+2):after {
          border-width: 15px 0 15px 15px;
          left: auto;
          right: -15px; }
    .restaurantDetailWrapper .content .feedback .noFeedback {
      margin-top: 20px; }
      .restaurantDetailWrapper .content .feedback .noFeedback h1 {
        text-transform: uppercase;
        color: #000;
        font-family: "Gotham Medium";
        font-size: 15px; }
      .restaurantDetailWrapper .content .feedback .noFeedback p {
        font-family: "Gotham Book";
        color: #000;
        font-size: 12px;
        margin: 0; }

.menus .meals {
  text-align: center;
  margin-top: 30px; }
  .menus .meals h1 {
    text-transform: uppercase;
    color: #000;
    font-family: "Gotham Medium";
    font-size: 15px; }
  .menus .meals p {
    font-family: "Gotham Book";
    color: #000;
    font-size: 12px; }

.menus .notification {
  margin-top: 30px;
  text-align: center; }
  .menus .notification span {
    font-family: "Gotham Book";
    font-size: 15px; }
  .menus .notification label {
    vertical-align: middle; }

.menus .days {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  bottom: 0; }
  .menus .days .action {
    position: absolute;
    width: 10%;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    text-align: center; }
    .menus .days .action.next {
      right: 0; }
    .menus .days .action i {
      vertical-align: middle; }
  .menus .days .swiper-container-menus {
    background: transparent;
    position: relative;
    width: 80%;
    left: 10%; }
    .menus .days .swiper-container-menus .swiper-slide {
      font-size: 14px;
      opacity: .3; }
      .menus .days .swiper-container-menus .swiper-slide.swiper-slide-active {
        font-size: 16px;
        opacity: 1; }

.menus .day {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px; }
  .menus .day i {
    vertical-align: middle; }

.actionbar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  bottom: 0;
  text-align: center;
  text-transform: uppercase; }
  .actionbar a {
    color: #000;
    text-decoration: none; }

.establishmentWrapper {
  padding: 20px; }
  .establishmentWrapper .sexes .sex {
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.3);
    margin-right: 10px;
    padding: 8px 20px;
    text-transform: uppercase; }
    .establishmentWrapper .sexes .sex.active {
      background-color: #27ae60;
      color: #fff; }
  .establishmentWrapper .birthday {
    background: rgba(128, 128, 128, 0.3);
    width: 100px; }
    .establishmentWrapper .birthday.active {
      background-color: #27ae60;
      color: #fff; }

.startWrapper {
  width: 100%;
  height: 100vh;
  text-align: center; }
  .startWrapper h1 {
    font-size: 60px;
    color: #000;
    text-transform: uppercase;
    padding-top: 60px; }
  .startWrapper h3 {
    font-size: 25px;
    color: #000; }

.settingsWrapper {
  color: #fff;
  height: 100%;
  background-image: url("../../assets/imgs/start_background_blur.jpg");
  background-size: cover;
  padding: 20px; }
  .settingsWrapper h1 {
    font-size: 35px; }
  .settingsWrapper h2 {
    font-size: 20px; }
  .settingsWrapper .changeLanguage {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 30px; }
    .settingsWrapper .changeLanguage i, .settingsWrapper .changeLanguage span {
      vertical-align: middle; }
    .settingsWrapper .changeLanguage span {
      margin-left: 10px; }
  .settingsWrapper .interests .interest {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 25px;
    border-radius: 50px;
    margin-right: 8px;
    margin-top: 8px; }
    .settingsWrapper .interests .interest span {
      display: inline-block;
      font-size: 13px;
      color: #fff;
      padding: 12px 0px; }
    .settingsWrapper .interests .interest.active {
      background-color: #fff;
      background-image: url("../../assets/icons/done.png");
      background-size: 18px;
      background-position: right 10px center;
      background-repeat: no-repeat;
      padding: 0 32px 0 25px; }
      .settingsWrapper .interests .interest.active span {
        color: #333; }
  .settingsWrapper .checkbox {
    margin-bottom: 10px; }
    .settingsWrapper .checkbox div:before {
      background-color: rgba(255, 255, 255, 0.5); }
    .settingsWrapper .checkbox input:checked + div:before {
      background-color: rgba(255, 255, 255, 0.8);
      background-image: url("../../assets/icons/done.png");
      background-size: cover; }
  .settingsWrapper .switch, .settingsWrapper .switchLabel {
    display: inline-block;
    margin-bottom: 10px; }
