<div class="general">
    <p>{{data.description}}</p>
    <div class="left">
    <div class="icons">
        <i class="material-icons" ng-if="data.parking" ng-click="showToast('LOCALPARKING' | translate)">local_parking</i>
        <i class="material-icons" ng-if="data.studentMeals" ng-click="showToast('PUPILMEALPROVIDED' | translate)">school</i>
        <i class="material-icons" ng-if="data.reservation" ng-click="showToast('RESERVATIONPOSSIBLE' | translate)">book</i>
        <i class="material-icons" ng-if="data.petsWelcome" ng-click="showToast('PETSWELCOME' | translate)">pets</i>
        <i class="material-icons" ng-if="data.groupsWelcome" ng-click="showToast('GROUPSWELCOME' | translate)">people</i>
        <i class="material-icons" ng-if="data.acceptsCard" ng-click="showToast('ACCEPTSCARD' | translate)">credit_card</i>
        <img src="assets/icons/kelteneuro.png" ng-if="data.acceptsKelteneuro" ng-click="showToast('ACCEPTSKELTENEURO' | translate)"/>
    </div>
    </div>
    <div class="right border">
        <div ng-if="data.tel"><i class="material-icons">phone</i><a href="tel:{{data.tel}}">{{data.tel}}</a></div>
        <div ng-if="data.website"><i class="material-icons">public</i><a ng-href="{{data.website}}">{{data.websiteFormatted}}</a></div>
        <div class="openingTimes" ng-class="openingTimes.status" ng-if="openingTimes">
            <i class="material-icons">access_time</i><span ng-if="openingTimes.status == 'openingSoon'">{{ 'OPENINGSOON' | translate }}</span><span ng-if="openingTimes.status == 'opened'">{{ 'OPENED' | translate }}</span><span ng-if="openingTimes.status == 'closingSoon'">{{ 'CLOSINGSOON' | translate }}</span><span ng-if="openingTimes.status == 'closed'">{{ 'CLOSED' | translate }}</span>
            <div class="times">
            {{openingTimes.times.opens | date: 'HH'}}-{{openingTimes.times.closes | date: 'HH'}} Uhr
            </div>
        </div>
    </div>
</div>